<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NOVEL NOOK</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>

  <header>
    <h1>NOVEL NOOK</h1>
  </header>

  <nav>
    <a href="/books">Books</a>
    <a href="/add_book">Add a book</a>
    <a href="/search_books">Search for books</a>
    <a href="/logout">Logout</a>
  </nav>

  <main>
    {% for book in books %}
      <b>Title:</b> {{ book.title }}<br>
      <b>Author:</b> {{ book.author }}<br>
      <b>Genre:</b> {{ book.genre }}<br>
      <a href="/delete_book/{{ book._id }}">Delete</a>
      <br><br>
    {% endfor %}
  </main>

</body>
</html>

