<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>NOVEL NOOK</title>
</head>

<body>
    <div class="container">
        <div class="content">
            <h1>Welcome to Novel Nook</h1>
            <p>Discover a world of books at your fingertips.</p>
            <div class="buttons">
                <a href="/register" class="btn">Create Account</a>
                <a href="/login" class="btn">Login</a>
            </div>
        </div>
    </div>
</body>

</html>

