<!-- Login page -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <title>Login</title>
</head>
<body>
<header>
    <h1>Login to your account</h1>
</header>
<main>
<form action="/login" method="POST">
  {% if error %}
                <p class="error">{{ error }}</p>
  {% endif %}
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" required>
  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required>
  <button type="submit">Login</button>
</form>
</main>
</body>
</html>


